body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto
}

.hamburger-nav{
    height: 0;
    width: 0;
}


.first-ul{
    display: flex;
    background:black;
    height: 13%;
    margin-bottom:0px;
   
}

.first-ul > li{
    list-style: none;
    padding: 30px;
}
   

.first-ul a{
    text-decoration: none;
    font-size: 25px;
    color: #EE813D;
}


body{
    background:white;
}

.first-ul .logo{
    width: 40px;
    padding:30px;
    height: 40%;
   }

   .footer-details ul{
    display: flex;
    background: black;
    color:#EE813D;
    justify-content: space-around;
}

.footer-details li{
 list-style: none

}

.form{
    margin-left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    width: 50%;
    height: 40px;
}
.submit{
    margin-top: 20px;
    background: green;
    color: white;
    border-radius: 10px;
}
.login a{
    background: red;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 3px solid red;
    border-radius: 10px;
}
.login{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-weight: bolder;
}

#dashboard a{
    margin-left: 40%;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid green;
    background: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    padding: 20px;
}
#dashboard{
    margin-top: 10%;
    margin-bottom: 5%;
}

.order ul li{
    display: unset;

}


.order {
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 15px;
    background: grey;
    width: 20%;
    color: black;
    opacity: 0.9;
}

.thead{
    background: grey;
    opacity: 0.9;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

table{
    margin-top: 5%;

}

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .destination a{
    margin-left: 40%;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid;
    background: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
} */

/* .destination{
    margin-top: 5%;
    margin-bottom: 5%;
} */

.hey{
    
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid;
    background: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-left: 39%;
}

.heya{
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid;
    background: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-left: 39.5%;
    
}

.top{
    margin-top: 40px;
    margin-bottom: 30px;
}
.bottom{
    margin-bottom: 40px;
}

@media screen and (max-width: 720px){
    .wrapper{
        background-color: black;
        padding-bottom:px;
    }
    
    
        .hamburger-nav{
            display:block;
            height: 40px;
            width: 35px;
        }
    
        .first-ul{
            display:flex;
            flex-direction: column;
            background:#EE813D;
            height: auto;
            margin-bottom:0;
            justify-content: start;
            align-items: start; 
             opacity: 1;
            margin-top: 0px;
            padding-left: 0;
            display: block;
            
        } 
    
       
    
        .first-ul.open{
              height:0%;
              opacity: 0;
              background: blue;
             transition-duration: 0.5s;
             transition-timing-function: linear;
        }
    
        .first-ul .logo{
            width: 0px;
            padding:2px;
            height: 0%;
            overflow: hidden;
           }
        
        .first-ul > li{
            list-style: none;
            padding: 10px;
            border-bottom: 1px solid rgb(51, 16, 16);
        
        }
           
        
        .first-ul a{
            text-decoration: none;
            font-size: 17px;
            font-weight: bolder;
            color:rgb(51, 16, 16);
        }
    
        
    
        .first-ul >li :hover{
            color: white;
        }
    
    
    
        .footer-details ul{
            display: flex;
            background: black;
            color:#EE813D;
            justify-content: space-around;
            flex-wrap: wrap;
    
        }

        .order {
            margin-left: 2%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            border: 2px solid black;
            border-radius: 15px;
            background: grey;
            width: 40%;
            color: black;
            opacity: 0.9;
        }
        
    
    }
    
    #dashboard a{
        margin-left: 40%;
        text-decoration: none;
        border-radius: 10px;
        border: 3px solid green;
        background: green;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: white;
        padding: 20px;
    }



