.first-ul{
    display: flex;
    background:black;
    height: 13%;
    margin-bottom:0px;
   
}

.first-ul > li{
    list-style: none;
    padding: 30px;
}
   

.first-ul a{
    text-decoration: none;
    font-size: 25px;
    color: #EE813D;
}
.form h2{
    font-size:40px;
    color: #EE813D;
    
}

body{
    background:white;
}

.first-ul .logo{
    width: 40px;
    padding:30px;
    height: 40%;
   }

   .footer-details ul{
    display: flex;
    background: black;
    color:#EE813D;
    justify-content: space-around;
}

.footer-details li{
 list-style: none

}

.form{
    margin-left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    width: 50%;
    height: 40px;
}
.submit{
    margin-top: 20px;
    background: green;
    color: white;
    border-radius: 10px;
}
.destination a{
    background: red;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 3px solid red;
    border-radius: 10px;
}
.destination{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-weight: bolder;
}


